gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
android/.gradle/
android/app/*.iml

# Firebase & Google Services
firebase.json
google-services.json
GoogleService-Info.plist

# IDEs
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Others
*.swp
*.tmp
*.lock

